* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  }
  
  .container {
    margin: 1rem;
    text-align: center;
  }
  
  .nav {
    background-color: #003265;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding:  0 2rem;
  }
  
  .site-title {
    font-size: 1.5rem;
    padding: 5px;
    margin: 5px;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 5px;
    margin: 5px;
  }
  
  .nav a {
    color: inherit; 
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
